<launch>
	<param name="use_sim_time" value="true"/>

	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/sq2/2018-12-11-13-37-56.bag"/>
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/sq2/2018&#45;12&#45;10&#45;18&#45;54&#45;19.bag"/> -->
	
	<node pkg="sq_lidar" name="sq_lidar" type="sq_lidar">
		<param name="fixed_frame" value="/base_link"/>
		<remap from="~/scan" to="/sq_lidar/scan"/>
		<remap from="~/cloud" to="/cloud"/>
	</node>
	<node pkg="sq_lidar_pc_store" name="sq_lidar_pc_store" type="sq_lidar_pc_store"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/.rviz/sq2.rviz"/>
</launch>
